

:root
{
    --aside-menu-color: rgb(107, 238, 255);
    --aside-hover-color: rgb(145,149,230);
    --main-text-color: #66fcf1;
}

html {
    height:100%;
}
body {
    height: 100%;
}
header .search-form{
    margin-left: auto;
}

#dropdown-content{
    
    padding: 0;
    width: 100%;
    display: none;
}
#dropdown-content p{
    padding: 0;
    margin: 0;
}

#dropdown-content a{
    text-decoration: none;
}

header .dropdown button, header .dropdown button:focus, header .dropdown button:hover{
    color: #c5c6c7;
}



header .show-dropdown{
    display: block !important;
}
header .dropdown-wrapper{
    top: 3.49em;
    background-color: #041429;
    width: 150px;
    position: absolute;
    z-index: 999;
}
header .show-dropdown li{
    padding: 2px;
    height: 30px;
    list-style: none;
}
header .show-dropdown li:hover{
    background-color: rgba(112, 188, 255, 0.2);
}

/* ----------------------------- Header --------------------- */
header{
    background-color: #0b0c10 !important;

}
header a{
    color: #c5c6c7 !important;
}
/*  -----------------------------       Side menu     ------------------------------   */


header ul li a, header ul li button{
    transition: transform 0.6s !important;
}
#footer{
    background-color: #041e42;
    color: white;
}

header ul li a:hover, header ul li button:hover{
    transform: scale(1.05);
}
header ul .main_list:hover, header ul .dropdown a:hover{
    color: var(--aside-hover-color) !important;
}


.navigation-list
{
    padding-left: 0;
}

.navigation-list .main_list {
    color: var(--aside-menu-color);
    text-decoration: none;
}



/* -------------------- End of aside menu ---------------------------------*/
#main h1, #main h2, #main h3, #main h4{
    font-family: Outfit;
}
#main p{
    font-family: Roboto;
}

/*    ------------------     Main section ----------------------    */



#main {
    color: #ffffff;
    background: linear-gradient(90deg, #041e42 20%, #9b1c2c 100%);
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}


#main p{
    font-size: 16px;
    line-height: calc(16px * 1.5);
}










#main h1 { /*title of page*/
    margin-bottom: 2%;
    letter-spacing: -1px;
}

#main .alert-warning h3 { /*title news*/
    font-size: 36px;
}


#main .list-articles a{
    text-decoration: none;
}



















.alert-warning { /*news*/
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.form-control {
    margin: -15px;
}

.states {
    list-style: none;
}

.list-articles{
    overflow: hidden;
}

.state-info{
    font-size: 24px;
}




/* -------------------------------- Form ----------------------------*/
form{
    float: left;
    text-align: left;
    margin-left:-50px;
}
.form-error{
    font-size: 14px;
    list-style: none;
}
textarea{
    width: 500px;
    height: 200px;
}



.add-page-title{
    font-size: 50px;
    text-align: center;
}




/* SCREEN SIZES-----------------------------------*/
 @media screen and (max-width: 1240px){
    #aside h3{
        font-size: 20px;
    }
    #aside .dropdown-list{
        font-size: 14px;
    }
    #main .features .state-preview-content-container h2{
        font-size: 28px;
    }
    #main .features .state-preview-content-container p:not([class="thumbnail-text"]){
        font-size: 12px;
    }
    #main .features .state-preview-content-container .thumbnail-text{
        font-size: 12px;
    }
 }
 @media screen and (max-width: 896px){
    #aside h3{
        font-size: 16px;
    }
    #aside .dropdown-list{
        font-size: 10px;
    }
 }