
<!--{%url 'states_main'%}-->


{%load main_tags%}
{%for i in menu%}
   {%if i.title == 'Categories'%}
        <li class="dropdown nav-item">
           <button href="#" class="nav-link" onclick="openDropdown()"><i class="fas fa-flag-usa"></i>Categories ▼</button>
                <ul id="dropdown-content">
                    <div class="dropdown-wrapper">
                        {% show_categories %}
                    </div>
               </ul>
       </li>
   {%else%}
        <li class="nav-item"><a href="{%url i.url_name%}" class="nav-link"><i class="{{i.font_awesome_class}}"></i>{{i.title}}</a></li>
    {%endif%}
{%endfor%}