



{%extends 'main/layout.html'%}
{%load static%}

{%block additional_head_data%}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script defer src="{%static 'main/js/scroll-animation.js'%}"></script>

<link rel="stylesheet" href="{% static 'main/css/states_main.css' %}">
{%endblock%}

{%block title%}{{title}}{%endblock%}



{%block content%}
<div class="container">
    {%for p in cats%}
        <h1>{{p.name}}</h1>
    {%endfor%}
    <ul class="list-articles p-0">
        {%for i in posts%}
        <a href="{{ i.get_absolute_url }}">
            <div class="features-wrapper">
                <li class="features hidden row">
                    
                        {%if i.photo%}
                        <div class="col-5 d-flex align-items-center">
                            <img class="state-image my-4 img-fluid" src="{{i.photo.url}}" alt="">
                        </div>
                        {%endif%}
                        <div class="state-preview-content-container col">
                            <h2 class="text-start">{{i.title}}</h2>
                            <div class="state-preview-text">
                                <p class="">{{i.content|linebreaks|truncatewords:50}}</p>
                            </div>
                            <div class="features-thumbnail border d-flex justify-content-evenly">
                                <div class="jobs-thumbnail">
                                    <p class="thumbnail-text">Main jobs:</p>
                                    <p> {{ i.jobs }}</p>
                                </div>
                                <div class="salaries-thumbnail">
                                    <p class="thumbnail-text">Salaries: </p>
                                    <p>{{ i.salary }}</p>
                                </div>
                                <div class="prices-thumbnail">
                                    <p class="thumbnail-text" data-toggle="tooltip" data-placement="right" title="$ is very cheap, and $$$$$ is very expensive" style="border-bottom: 1px dotted #000;">Living expenses:</p>
                                    <p>{{ i.living_expenses }}</p>
                                </div>


                            </div>
                        </div>
                    </li>
            </div>
    <!--                <h4 class="link-read-post"><a href="{{ i.get_absolute_url }}">Read post</a></h4>-->
            
        </a>
        {%endfor%}
    </ul>
</div>
{%endblock%}